<div class="header">
  <h1>{{ title }} de Angular</h1>

</div>
<div class="body">
  <div class=" text-center p-4 mensaje">
    <h1>Mensaje para mi futuro yo</h1>
    <p>La persona en cuestion es un developer?, Hoy mi deseo es aprender el camino de la programacion, si partimos desde ese punto, el mundo del desarrollo web y la programacion en general, es mas grande y complejo de lo que parece cuando estas viendp tu primer tutotial de <strong>HTML</strong> y <b>CSS</b> pero es tan complejo como interesante, espero algun dia entender todos estos temas tan bien como los demas desarrolladores, pero se que tomara tiempo y esfuerzo por lo tanto sigo recorriendo este camino, camino que podria ser el camino de la serpiente o mi camino ninja, que dices tu?</p>
  </div>
  <br>
  
  <br>
  <div class="bodyImg text-center">
    <h2>Algunos de mis acercamietos a la programacion</h2>
    <ul class="text-center ">
      <li>
        <h3>HTML</h3>
        <img src="../assets/200px-HTML5_logo_and_wordmark.svg.png">
        <div class="textos">

        </div>
      </li>

      <li>
        <h3>CSS</h3> 
        <img src="../assets/css.png">
        <div class="textos">

        </div>
      </li>

      <li> 
        <h3>JAVA</h3> 
        <img src="../assets/58480979cef1014c0b5e4901.png">
        <div class="textos">

        </div>
      </li>

      <li> 
        <h3>PHP</h3>
        <img src="../assets/PHP-logo.svg">
        <div class="textos">

        </div>
      </li>

      <li> 
        <h3>LARAVEL</h3>
        <p></p>
        <img src="../assets/200px-Laravel.svg.png">
        <div class="textos">

        </div>
      </li>

      <li>
        <h3>DJANGO </h3>
        <p>(un acercamiento a python )</p>
        <img src="../assets/Django-Logo.png">
        <div class="textos">

        </div>
      </li>

      <li> 
        <h3>SQL</h3>
        <img src="../assets/icon_sql_server_25604-300x300.jpg">
        <div class="textos">

        </div>
      </li>

      <li>
        <h3> JavaScript</h3>
        <img src="../assets/Unofficial_JavaScript_logo_2.svg.png">
        <div class="textos">

        </div>
      </li>

      <li>
        <h3>ANGULAR </h3>
        <p>(Mi actual rompe cabezas )</p>
        <img src="../assets/angular-logo-big-room-studios.png">
        <div class="textos">

        </div>
      </li>

      <li>
        <h3>Git Y GitHub </h3>
        <p>( Primer Controlador de versiones Oficial )</p>
        <img src="../assets/git-icon.png">
        <div class="textos">

        </div>
      </li>

    </ul>

  </div>

  <div   class="text-center bg-secondary p-4">
    <h2>Espectativas futuras</h2>
    <p>En serio hemano espero que lo hallamos conseguido y que ahora sepas perfectamente como se maneja todo esto, que entiendas el framework, el lenguaje y sepas manejar los errores, las rutas, los componentes, los modulos, las interfaces y los servicios, y que entiendas el flujo de datos</p>
    <h5>desarrolado por Luis Fernando Mafla Arboledad 2022</h5>  
  </div>
  <h6 class=" text-center p-2" >Netsui o Motte!!</h6>

</div>
